<nav class="menu" role="nav">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a target="_blank" href="https://github.com/Josebaseba">Github</a></li>
      <li><a target="_blank" href="https://twitter.com/Josebaseba">Twitter</a></li>
      <li><a target="_blank" href="https://es.linkedin.com/in/josebalegarreta">Linkedin</a></li>
    </ul>
</nav>
